@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Paprika&family=Quicksand:wght@300;400;500;600;700&display=swap');

/* font-family: 'Dancing Script', cursive; */
/* font-family: 'Paprika', cursive; */
/* font-family: 'Quicksand', sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}
body{
    color: #1d1d1d;
}
a {
    color: unset;
    text-decoration: unset;
}

/* BACKGROUND */
#pageContainer {
    height: 100vh;
    width: 100%;
    background: #000000;
    background: -webkit-linear-gradient(to top, #434343, #000000);
    background: linear-gradient(to top, #434343, #000000);
    background-attachment: fixed;
    padding: 5vh 4vw;
}

/* CONTAINER */
#container {
    width: 100%;
    height: 100%;
    background-color: #fbfbfb;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    overflow-y: auto;
}

/* NAVBAR */
#navbar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 10px 100px;
}
#logo {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
}
#logo .kalatea{
    font-family: 'Paprika', cursive;
    font-size: 32px;
}
#logo .clothes{
    font-family: 'Dancing Script', cursive;
    font-size: 24px;
}
#links {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 700px;
}
#links button {
    color: #1d1d1d;
}
#cart {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 130px;

    padding: 10px 15px;
    color: #fbfbfb;
    background-color: #1d1d1d;
}

/* HOME */
#homeContainer{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
}
#homeImg{
    width: 90%;
    height: 50vh;
    background-image: url('https://images5.alphacoders.com/492/thumb-1920-492030.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    margin: 30px 0;
}
.homeProds{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    margin: 20px 0;
}
.imgContainer{
    position: relative;
}
.homeProds .imgHomeProds{
    filter: grayscale(70%);
    display: block;
    width: 30vw;
    height: auto;
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.7);
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #1d1d1d;
}
.imgContainer:hover .overlay {
    opacity: 1;
}
.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

/* PAGINAS */
.paginas{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
}
.productos{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}
.producto{
    margin: 15px 0;
}
.detailProducto{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 65vh;
}

#cardDetail{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
}
#cardDetail img{
    width: 400px;
    box-shadow: 5px 1px 4px rgba(0, 0, 0, 0.5);
}
#cardContentDetail{
    text-align: center;
}